.serviceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2;
  color: #272324;
  font-weight: 600;
  height: 100px;
  background-color: #fafafa;
  border: 1px solid #526d82bf;
  border-radius: 4px;
  padding-top: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 5px 5px 5px;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  border: 1px solid #526d82bf;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion-scrollable {
  max-height: 300px;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-bottom: 10px;
  border: 1px solid #526d82bf;
}

.accordion-button {
  padding: 10px;
  border: none; /* Optional: Remove border if needed */
}

.accordion-header {
  background-color: white; /* Change background color */
  border-bottom: 1px solid #526d82bf;
}

.accordion-button:not(.collapsed) {
  background-color: white; /* background color when expanded */
  border: none;
  border-style: none;
}

.accordion-button {
  box-shadow: none;
  border: none;
  border-style: none;
}

.headerTextStyle {
  font-size: 14px;
  color: #667085;
}

.accordion-body {
  border-bottom: 1px solid #526d82bf;
}

.serviceConsoleFormLabel {
  color: #655C5C;
  font-size: 12px;
  font-weight: 700;
  /* font-family: 'K2d-Regular', sans-serif; */
}

.serviceConsoleInputField {
  border: 1px solid #526D82BF;
  border-radius: 8px;
}
